.landing {
  background: #3C3C67;
  height: 100vh;
  min-height: 40rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8vh;
}

.theconference {
  display: flex;
  margin-bottom: 2vh;
}

.the {
  font-size: 12vh;
  color: #CBB2F7;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: 9vh;
}

.conference {
  font-size: 15vh;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  width: 6vw;
  color: #3C3C67;
  text-stroke: 1px #F4FFDB;
  -webkit-text-stroke: 2px #F4FFDB;
}

.twenty21 {
  display: flex;
  flex-direction: column;
  line-height: 1;
}


.date {
  font-size: 7vh;
  color: #7D86F1;
  margin-left: 1vw;
}

.twenty {
  font-size: 40vh;
  color: #7D86F1;
}

.twentyone {
  font-size: max(40vh, 10rem);
  color: #F5DAFF;
}
