.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerTitle {
  padding: 10vh 0;
  width: 80%;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  padding: 5vh .75rem 0 .5rem;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
  border: .3rem solid #612BFF;
  color: #612BFF;
  font-size: 1.5rem;
}

.formInput {
  margin-bottom: 2rem;
  padding: .75rem 1rem;
  text-align: right;
  width: min(35rem, 65vw);
}

::placeholder {
  font-size: 1.5rem;
  color: #612BFF;
}

.formCheck {
  color: #612BFF;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: min(35rem, 65vw);
}

.formSpan {
  font-size: 1.5rem !important;
  padding-right: 1rem;
  color: #612BFF;
}

.formCheckmark {
  width: 4rem;
  height: 4rem;
}

.formCheckmark:checked {
  background: url("checkmark.svg") #FEFEFE88 no-repeat;
  background-size: 75%;
  background-position: center;
}

.formSumbit {
  background: #FF41F0;
  text-transform: uppercase;
  text-align: center;
  color: #612BFF;
  font-size: 1.5rem;
  border: 0;
  margin-bottom: 0;
}

.formSumbit:hover {
  background: #F5DAFF;
}

#thankYou {
  height: 5rem;
  opacity: 0;
  transition: opacity 2s;
}

@keyframes fadein {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

#thankYou div {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  padding-top: 2rem;
  color: #612BFF;
}
