.schedule {
  /* background: #F5DAFF; */
  display: flex;
  flex-direction: column;
  margin: 4vh 1vw;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10vh auto 0 auto;
}

.scheduleItem {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
  color: #612BFF;
  align-items: flex-end;
}

.time {
  font-size: min(4vh, 5vw);
}

.activity {
  margin-left: 6vw;
  font-size: min(3.5vh, 4.5vw);
}

.title {
  /* transform: rotate(180deg);
  text-stroke: 1px #F4FFDB;
  -webkit-text-stroke: 2px #F4FFDB;
  font-size: 15vw;
  color: rgba(255,255,255,0);
  text-stroke: 1px #CBB2F7;
  -webkit-text-stroke: 4px #CBB2F7;
  height: 20vh;
  text-transform: uppercase; */
  height: min(12vh, 14vw);
  margin: 5vh 2vh 5vh 2vh;
}
