.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing {
  background: #3C3C67;
  height: 100vh;
  min-height: 40rem;
}

.schedule {
  background: #FDFDFD;
  height: 100vh;
}
